@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

header {
    width: 100%;
    padding-top: 8vw;
    background-image: url("./imagens/topo.png");
    background-position: center 60%;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.headerSection{
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;
    width: 55vw;
    height: 28vw;
    margin: 0 auto;
}

.Star img{
    width: 18vw;
}
.Wars img{
    width: 19vw;
    margin-bottom: 2vh;
}
.KyloRen{
    position: absolute;
    right: 6vw;
}
.KyloRen img {
    width: 60vw;
}

.legionBox {
    color: black;
    position: absolute;
    width: 9.5vw;
    right: 18vw;
    bottom: 0px;
    font-family: Arial, Helvetica, sans-serif;
}
.legionBox p {
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.4vw;
    border-bottom:2px solid;
}

.dateLine p {
    font-size: 1.4vw;
}

.aboutPlay {
    width: 100%;
    background-image: url("./imagens/sta\ uo\ robot.png");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: left;
}

.aboutTitle {
    display: flex;
    justify-content: space-between;
}

.aboutText {
    width: 19vw;
    height: 25vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-image: url("./imagens/storm-red.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
    left: 14vw;
    top: -3vw;
}
.aboutText h2 {
    width: 8vw;
    font-size: 1.7vw;
    font-weight: 500;
    text-transform: uppercase;
}
.aboutText p {
    text-align: left;
    font-size: 1vw;
    width: 16vw;
    opacity: 0.8;
}
.aboutText button {
    background-color: transparent;
    border: 1.5px solid white;
    padding: 0.6vw 0;
    width: 9vw;
    text-align: center;
    font-size: 1vw;
    color: white;
    text-transform: uppercase;
    border-radius: 3.5px;
    cursor: pointer;
}
.aboutText button:hover {
    opacity: 0.8;
    cursor: pointer;
}
a:visited{
    color:white;
}

.aboutBox {
    width: 45vw;
    height: 12vw;
    display: flex;
    justify-content: space-between;
    position: relative;
    right: 15vw;
    top: 10.5vw;
    font-family: Arial, Helvetica, sans-serif;
}
.aboutBox h2 {
    text-align: right;
   
    font-size: 1.6vw;
}
.txtUnder {
    color: black;
    width: 50vw;
    height: 0.2vw;
    margin-right:50vw;
}
.aboutBox p {
    text-align: right;
    font-size: 1.1vw;
}
.aboutBox img {
    width: 19vw;
}
.aboutBox {
    width: 25vw;
}
.aboutClass {
    width: 25vw;
}

.heroSection {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.vilanOne {
    position: relative;
    top: 3vw;
    left: 5vw;
}
.vilanOne img{
    width: 40vw;
}
.herOne {
    position: relative;
    top:5vw;
    right: 5vw;
}
.herOne img{
    width: 20vw;
}

nav {
    position: relative;
    right: 5vw;
}
nav h2{
    margin-left: auto;
    font-size: 2.5vw;
    width: 18vw;
    text-align: right;
    text-transform: uppercase;
}
ul {
    text-align: right;
    list-style: none;
}

li {
    color: black;
    text-transform: uppercase;
    font-size: 1.2vw;
    margin-top: 1.2vw;
    padding: 0.3vw 0.5vw 0.2vw 0.5vw;
    transition: 0.2s all;
}
li:hover {
    color: white;
    background-color: #FF5733;
}

.sectionTwo {
    background-color: #2d2d2d;
    width: 100%;
    padding: 6vw 0 6vw 0;
}

.titleAssets h2 {
    padding-left: 9vw;
    color: white;
    font-size: 1.8vw;
    text-transform: uppercase;
}
.second-box {
    display: flex;
}

.onlyOne {
    width: 85vw;
    margin: 0 auto;
}
.onlyOne img {
    width: 100%;
    object-fit: cover;
}

.boxText {
    margin-top: 10vw;
    text-align: center;
}
.boxText h2 {
    color: white;
    font-weight: 800;
    font-size: 2vw;
}

.imgTroper{
    position: relative;
    bottom: 17vw;
    right:30vw;
}
.imgTroper img {
    width: 22vw;
}

.boxIMG {
    width: 100%;
    height: 24vw;
    display: flex;
    justify-content: center;
}
/*.BTNboxes {
    display: flex;
    justify-content: space-evenly;
    width: 60vw;
    height: 18vw;
    padding-top: 2vw;
}*/
.BTNbox {
    width:55vw;
    height:25vh;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    position:absolute;
    left:40vw;
}
.btnSection{
    width:15vw;
    height:20vh;
}
.btnSection h2{
    font-size:1.5rem;
    font-weight:900;
    text-align:center;
    padding-bottom:2vh;
}
.btnMain{
    width:10vw;
    height:5vh;
    background-color:black;
    border:none;
    color:white;
    font-size:1.2rem;
    font-weight:300;
    margin:0 0 0 2.5vw;
    cursor: pointer;
}
.btnMain:hover{
    transition:box-shadow 3s;
    box-shadow:inset 20vw 0 #FF5733;
}
.btnSection p{
    font-weight:300;
    text-align:center;
    font-size:0.8rem;
    width:70%;
    padding-top:1.5vh;
    margin:1vh 0 0 2vw;
}
footer {
    display: flex;
    height: 44vw;
}

.footerOne{
    width: 60vw;
    background-color: #FF5733;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.footerOne h2 {
    color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 1.6vw;
    margin-bottom: 1vw;
}
.footerOne p {
    color: white;
    font-size: 1vw;
    opacity: 0.8;
}
.footerBox{
    width: 30vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.footerBoxTwo{
    width: 30vw;
    height: 18vw;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.darthBox {
    position: relative;
    top: -7vw;
    right: 8vw;
}
.darthBox img {
    width: 38vw;
}
.starLogo img {
    width: 15vw;
}

@media(max-width:800px){
    .start-playing {
        flex-direction: column;
        align-items: flex-end;
        padding: 10vw 18vw 0vw 0vw;
    }
    .aboutText {
        position: initial;
        width: 35vw;
        height: 55vw;
    }
    .aboutText h2 {
        width: 18vw;
        font-size: 4vw;
    }
    .aboutText p {
        font-size: 2vw;
    }
    .aboutText button {
        width: 18vw;
        font-size: 1.8vw;
    }
    a:visited{
        color:white;
    }
    .aboutBox {
        position: initial; 
        flex-direction: column-reverse;
        align-items:flex-end;
        width: 50vw;
        height: 45vw;
        margin-top: 2vw;
    }
    .aboutBox h2 {
        font-size: 3vw;
    }
    .line-after-h2 {
        width: 20vw;
        height: 0.3vw;
    }
    .aboutBox {
        width: 40vw;
    }
    .aboutClass{
        width: 40vw;
    }
    .aboutBox p {
        font-size: 2vw;
    }
    .aboutBox img {
        width: 35vw;
    }
    .boxLine {
        color:#2d2d2d;
    }
    .aboutPlay {
        background-image: none;
    }
    .aboutTitle {
        background-image: url("./assets/sta\ uo\ robot.png");
        background-repeat: no-repeat;
        background-position: left top;
        background-size: 48vw 85vw;
    }

    nav h2 {
        font-size: 3vw;
    }
    li {
        font-size: 1.8vw;
    }
    .titleAssets h2 {
        font-size: 3vw;
        padding: 0;
        text-align: center;
    }
    .onlyOne {
        width: 100%;
    }

    .boxText h2 {
        width: 30vw;
        font-size: 3vw;
        margin-left: auto;
        margin-right: 15vw;
    }
    
    .imgTroper{
        top: -15vw;
        left: -24vw;
    }   
    .imgTroper img {
        width: 70vw;
    }
    .boxIMG {
        height: 90vw;
    }
    /*.BTNboxes {
        position: relative;
        right: 16vw;
        flex-direction: column;
        justify-content: space-evenly;
        height: 100%;
    }*/

    .BTNbox {
        width:55vw;
        height:65vh;
        display:flex;
        flex-direction: column;
        position:absolute;
        left:40vw;
        margin-top:0vh;
    }
    .btnSection{
        width:44vw;
        height:20vh;
    }
    .btnSection h2{
        padding-bottom:0.5vh;
    }
    .btnMain{
        width:34vw;
        height:5.5vh;
        font-size:0.9rem;
        margin:0 0 0 4.5vw;
    }
    .btnSection p{
        font-size:0.8rem;
        width:87%;
        padding-top:0.5vh;
        margin:0 0 0 2.5vw;
    }
    footer {
        flex-direction: column;
    }
    .footerOne {
        width: 100%;
        padding-top: 5vw;
        padding-bottom: 30vw;
    }
    .footerBox {
        width: 54vw;
        height: 38vw;
        align-items: center;
    }

    .footerBoxtwo{
        width: 54vw;
        height: 38vw;
        align-items: center;
    }
    .footerOne {
        width: 100%;
        text-align: center;
        font-size: 8vw;
    }
    .footerOne p {
        width: 100%;
        font-size: 2.2vw;
    }
    
    .starLogo img {
        width: 25vw;
    }
    .darthBox {
        width: 55vw;
        top: -30vw;
        left: 25vw;
    }
    .darthBox img {
        width: 55vw;
    }
}